body {
    background: url("driveway.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.topnav {
    background-color: maroon;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: inline;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 16px;
}

.topnav a:hover {
    background-color: burlywood;
    color: black;
}

.topnav a.active {
    background-color: maroon;
    color: antiquewhite;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton {
    border: none;
    outline: none;
    color: antiquewhite;
    background-color: inherit;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 16px;
    font-family: inherit;
    margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbutton {
    background-color: burlywood;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: burlywood;
    padding: 14px 16px;
    display: inline;
    text-decoration: underline;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: burlywood;
}

.dropdown:hover .dropdown-content {
    display: block;
}